{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <link rel="stylesheet" href="{% static 'graph.css' %}">
    <hr>
    <form action="/sch/"  method="post">
        {% csrf_token %}
        <div>
            <input type="button" value="뒤로가기" onclick="history.back();" />
            <input type="text" placeholder="회사명을 입력하세요." name="st_name"> <input type="submit" value="검색"><br>
        </div>        
    </form>
    <hr>
    
    {{ df|safe }}
<footer>

</footer>

</body>
</html>






