{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

    <header class="header">
        <div class="header-inner">
            <div class="box1">
                <div class="header-site">
                    <h1>국민연금 데이터를 활용한 연봉 추정</h1>
                </div>
            </div>
            <div class="box2">
                <button type="button" id="header-menubtn">
                    <i class="fa fa-bars"></i><span>MENU</span>
                </button>
                <nav class="header-nav" id="menu">
                    <ul>
                        <li><a href="{% url 'main' %}">메인</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div class="box7">
        <div class="box7-1">
            <article class="story">
                <div class="bread">
                    <ol>
                        <li><a href="{% url 'main' %}">메인</a></li>
                        <li><a href="#">프로젝트 소개</a></li>
                    </ol>
                </div>
                <h1>데이터 분석/해석</h1>
                <img src="{% static 'img/06/header-data.jpg' %}" alt="" class="storyimg">
                <p class="lead"></p>

                <h2><i class="fa fa-check-square-o"></i>평균값 확인</h2>
                <p></p>
                <h2><i class="fa fa-check-square-o"></i>분석 확인</h2>
                <p></p>
                
            </article>
            <div class="story-body">
    
            </div>

        </div>
        <div class="box7-2">
            <aside class="sidemenu">
                <h1><i class="fa fa-caret-square-o-down"></i>프로젝트 소개</h1>
                <ul>
                    <li><a href="#">데이터 분석/해석</a></li>
                </ul>
            </aside>
        </div>
    </div>
    <footer class="footer">
        <div class="box5-inner">
            <div class="copyright">
                Copyright &copy; Business CSS
            </div>
        </div>
    </footer>
    <script>
        $(function(){
            $("#header-menubtn").click(function(){
                $("#menu").slideToggle();
            });

        });
    </script>
{% endblock %}